<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/5dea436f1e.js" crossorigin="anonymous"></script>
    <link href="~/Content/solid.min.css" rel="stylesheet" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <title>Store | @ViewBag.Title</title>
</head>
<body>

    @Html.Partial("_menu")

    <div class="container mt-3">
        @RenderBody()
    </div>

    <footer class="footer mt-auto py-2 bg-success">
        <div class="container">
            <span class="text-light">&copy;@DateTime.Now.Year Store </span>
        </div>
    </footer>

    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>

    @RenderSection("scripts", false)

</body>
</html>